openapi: 3.0.3

info:
  title: Sedaia Designs API
  version: 1.0.0

servers:
  - url: https://api.sedaia-designs.org

paths:
  /v1/portfolio/content:
    get:
      operationId: getPortfolio
      summary: Get public portfolio information
      security: []
      tags:
        - Portfolio
      responses:
        "200":
          description: Public portfolio information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Portfolio"
        "500":
          description: Unexpected server error

components:
  schemas:
    Portfolio:
      type: object
      required:
        - programming
        - contact
      properties:
        programming:
          type: array
          items:
            $ref: "#/components/schemas/Programming"
        contact:
          type: array
          items:
            $ref: "#/components/schemas/Contact"

    Programming:
      type: object
      required:
        - title
        - description
        - projectPage
        - sourceCode
      properties:
        title:
          type: string
        description:
          type: string
        projectPage:
          type: string
          format: uri
        sourceCode:
          type: string
          format: uri
        documentation:
          type: string
          format: uri
          nullable: true

    Contact:
      type: object
      required:
        - type
        - label
        - value
        - href
      properties:
        type:
          type: string
          enum:
            - email
            - discord_user
            - telegram
        label:
          type: string
        icon:
          type: string
          enum:
            - discord
            - github
            - youtube
            - deviantart
            - codeberg
            - gumroad
            - instagram
            - pinterest
            - reddit
            - twitch
            - twitter
            - patreon
            - telegram
            - pixiv
            - envelope
            - globe
        value:
          type: string
        href:
          type: string
          format: uri
